body,
html {
    height: 100%;
}

#main-tile-image {
    /* The image used */
    background-image: url("../../assets/sunsetVentura.jpg");
}

#project-tile-image {
    /* The image used */
    background-image: url("../../assets/IMG_2949.JPG");
    
}

.bg {
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    padding: 0, 0, 0, 0
}
.is-full-width {
    width: 100%;
}

hr.navbar-divider {
    background-color: #707070;
}

#dark-line-break {
    background-color: #707070;
}

#light-line-break {
    background-color: #f0f0f0;
}

.navbar.is-dark {
    min-height: 2rem
}

.level {
    margin-bottom: 0px;
}

#my-title-banner {
    position: relative;


}

.level-item {
    display: inline-flex;
    padding-left: 2px;
    padding-right: 2px;
}

.inner {
    margin: 30% 0 0 0;
    position: absolute;
    z-index: 2;
    padding: 30px;
}

.tile:hover {
    transform: scale(1.01);
}
@media screen and (min-width: 1024px){
.navbar {
    min-height: 2rem;
}

}

@media screen and (max-width: 1440px) {

    .inner {
        padding: 50px;
    }

}

@media screen and (max-width: 768px) {
    #my-sidebar-on-mobile {
        min-height: auto
    }

    .title{
        font-size: 1rem; 
    }
    .title.is-4 {
        font-size: 1rem;
    }

}
.footer{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

a.has-text-link:hover, a.has-text-link:focus{
    color: #FF5733 !important
}

.example-appear {
    opacity: 0.01;
  }
  
  .example-appear.example-appear-active {
    opacity: 1;
    transition: opacity 1s ease-in;
  }

  .carousel{
      padding: 1rem;
  }
  .carousel-inner{
      padding: 5rem;
  }
  #resume-container{
      background-color: #707070;
      margin: 0%;
      padding: 1px, 0px, 1px, 0px; 
  }

  .bg-light {
    background-color: none;
  }
  .dropdown-menu.show {
   
    background: transparent;
  }