body,
html {
    height: 100%;
}

#main-tile-image {
    /* The image used */
    background-image: url("../../assets/Imports/DSCF2623.jpg");
}

#about-me-tile-image {
    /* The image used */
    background-image: url("../../assets/IMG_2949.JPG");
}

.bg {
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.is-full-width {
    width: 100%;
}

hr.navbar-divider {
    background-color: #707070;
}

#dark-line-break {
    background-color: #707070;
}

#light-line-break {
    background-color: #f0f0f0;
}

.navbar.is-dark {
    min-height: 2rem
}

.level {
    margin-bottom: 0px;
}

#my-title-banner {
    position: relative;


}

.level-item {
    display: inline-flex;
    padding-left: 2px;
    padding-right: 2px;
}

.inner {
    margin: 27% 0 0 0;
    position: absolute;
    z-index: 2;
    padding: 25px;
}

.tile:hover {
    transform: scale(1.01);
}

    @media screen and (max-width: 1440px) {

        .inner {
            padding: 50px;
        }

    }

    @media screen and (max-width: 768px) {
        #my-sidebar-on-mobile {
            min-height: auto
        }
        
        .title.is-4 {
                font-size: 1rem;
            }
        
    }

    .stitched
{
background-color:darkred;
width:200px;
font-size:20px;
color:white; 
padding:20px; 
border:2px dashed white; 
border-radius:20px; 
box-shadow:0px 0px 4px 4px darkred; 
}