body,
html {
    height: 100%;
}

#main-tile-image, #project-tile-image {
    /* The image used */
    background-image: url("../../assets/sunsetVentura.jpg");
}

#project-tile-image {
    /* The image used */
    /* background-image: url("../../assets/IMG_2949.JPG");
     */
}
/* specifies background image config */
.bg {
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    padding: 0, 0, 0, 0
}
.is-full-width {
    width: 100%;
}

hr.navbar-divider {
    background-color: #707070;
}

#dark-line-break {
    background-color: #707070;
}

#light-line-break {
    background-color: #f0f0f0;
}

.navbar.is-dark {
    min-height: 2rem
}

.level {
    margin-bottom: 0px;
}

#my-title-banner {
    position: relative;


}
.column.card{
    max-height: min-content;
}

.level-item {
    display: inline-flex;
    padding-left: 2px;
    padding-right: 2px;
}

.inner {
    margin: 30% 0 0 0;
    position: absolute;
    z-index: 2;
    padding: 30px;
}

.tile:hover {
    transform: scale(1.01);
}
@media screen and (min-width: 1024px){
.navbar {
    min-height: 1rem;
    padding-bottom: 0px;
}

}

@media screen and (min-width: 769px) {

    .inner {
        padding: 50px;
    }

}

@media screen and (max-width: 768px) {
    #my-sidebar-on-mobile {
        min-height: auto
    }
    .inner {
        padding-top: 115px;
        padding-left: 35px;
    }

    .title{
        font-size: 1rem; 
    }
    .title.is-4 {
        font-size: 1rem;
    }

}

.footer{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: transparent; 
}

a.has-text-link:hover, a.has-text-link:focus{
    color: #FF5733 !important
}
/* transition title  */
.example-appear {
    opacity: 0.01;
  }
  
  .example-appear.example-appear-active {
    opacity: 1;
    transition: opacity 1s ease-in;
  }

  .carousel{
      padding: 1rem;
  }
  .carousel-inner{
      padding: 5rem;
  }
  
  #resume-container{
      background-color: #707070;
      margin: 0%;
      padding: 1px, 0px, 1px, 0px; 
  }

  .bg-light {
    background-color: red;
  }
  .dropdown-menu.show {
   
    background: transparent;
  }
/* begin styling of social buttons */



  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 50%;
    padding: 4px; 
  
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin-in {
    background: #007bb5;
    color: white;
    border-radius: 50%;
    padding: 4px;

  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
    border-radius: 50%;
    padding: 1px; 


  }
  

  .fa-rss {
    background: #ff6600;
    color: white;
  }
 /* svg{
     border-radius: 50%;
 }
 svg{
     height: 48px;
     width: 48px;  

 } */

 .myheight{
     height: 30px; 
     min-height: 2px;

 }