@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables


// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/


@import "../node_modules/bulma/sass/utilities/initial-variables";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Barlow');

// Set your brand colors
$not-so-gray: #b8b8b8;
$naranja: #FF5733;
$way-gray: #707070;
$some-light: #f0f0f0;
$super-lighter: #FFFFFF;
$super-duper-grey: #363636;

// Update Bulma's global variables
$family-sans-serif: 'Barlow';
$grey-dark: $way-gray;
$grey-light: $not-so-gray;
$primary: $way-gray;
$danger: $naranja;
$widescreen-enabled: false;
$fullhd-enabled: false;
$gap: 0px;
// Update some of Bulma's component variables
$body-background-color: $super-duper-grey;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;@import "../node_modules/bulma/bulma";
$navbar: $way-gray;
$footer-background-color: $naranja;